@import "mixins";
@import "./helpers.scss";
@import "./components/pleca_index.scss";
@import "./components/sections.scss";
@import "./components/list.scss";
@import "./components/pageNavigation.scss";
@import "~react-responsive-carousel/lib/styles/carousel.min.css";
@import "./components/categories.scss";
@import "./components/itemHandler.scss";
@import "./components/notifications.scss";
@import "./components/related.scss";
body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
  background: $grisBajoBG;
  box-sizing: border-box;
}
header {
  z-index: 10;
}
#root {
  margin-top: $headerpush;
  z-index: 1;
  @include mobile {
    margin-top: #{$headerpush + 50px};
  }
}
body.menuroyalOpen {
  #root {
    margin-top: #{$headerpush + 50px};
    z-index: 1;
  }
}

.loadingSite {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 145px;
    height: 45px;
    @include btnAnim;
  }
}
.App {
  margin: 0px 0rem;
  font-family: "Open Sans", sans-serif;
}
.main_container {
  width: 100%;
  @include desktopMax() {
    width: 100%;
    max-width: $maxWidth;
    margin-left: calc(50% - #{$maxWidth/2});
  }
  &.incartRelated {
    @include desktopMax() {
      margin-left: 0px !important;
    }
  }
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 10;
  box-sizing: border-box;
  .ReactModal__Content {
    padding: 20px;
    width: 300px;
    height: 400px;
    margin-left: calc(50% - 150px);
    top: 10px;
    inset: 10px 0px 0px !important;
    box-sizing: border-box;
  }
}

.wrappersteps {
  padding: 10px 0px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrappersteps_line {
  margin: 5px 0px;
  width: 100%;
  background-color: rgba(118, 188, 33, 0.6);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  position: relative;
}
.wrappersteps_line .line {
  width: 33.33%;
  height: 2px;
}
.wrappersteps_line .line.first {
  width: 20%;
}
.wrappersteps_line .line.medium {
  width: 30%;
}
.wrappersteps_line .line.last {
  width: 50%;
}
.wrappersteps_line .line.active {
  background-color: #579c02;
}
@media only screen and (min-width: 1200px) {
  .wrappersteps_line {
    margin: 5px 0px;
    width: 500px;
  }
}
.wrappersteps_texts {
  margin: 0px 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.wrappersteps_texts .text {
  width: 33.33%;
  height: auto;
  text-align: center;
  font-weight: 600;
  color: #1a5632;
  font-size: 0.9rem;
}
.wrappersteps_texts .text.active {
  color: #ff4438;
}
.wrappersteps_texts .text.first {
  text-align: left;
}
.wrappersteps_texts .text.last {
  text-align: right;
}
.wrappersteps_texts .text.nextActive {
  color: #919191;
}
@media only screen and (min-width: 1200px) {
  .wrappersteps_texts {
    margin: 5px 0px;
    width: 500px;
  }
}
.NotFound {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: $verdeSitioBold;
  font-size: 20px;
  p {
    margin: 0px;
    span {
      font-weight: bold;
    }
  }
}

.carousel-root{
  // position: absolute;
  width: 100%;
  height: 100%;
}
.carousel.carousel-slider{
  width: 100%;
  height: 100%;
  .slider-wrapper{
    height: 100%; 
    ul.slider{
      height: 100%;
      .section{
        height: 100%;
        img{
          width: initial !important;
        }
      }
    }
  }
}