@import "../mixins.scss";
.cartItems {
  .itemsSection {
    column-gap: 15px;
    row-gap: 5px;
    @include tablet {
      row-gap: 10px;
    }
    @include desktop {
      row-gap: 15px;
    }

    .section.x4 {
      grid-column: auto/span 4;
      @include tablet {
        grid-column: auto/span 12;
      }
      @include desktop {
        grid-column: auto/span 4;
      }
    }
    &_items {
      padding-bottom: 20px !important;
      box-sizing: border-box;
      .title {
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      }

      .subtotal {
        position: relative;
        float: left;
        width: 100%;
        display: none;
        font-size: 14px;
        @include desktop {
          text-align: right;
          display: flex;
          justify-content: flex-end;
          table {
            width: 350px;
          }
        }
      }
      .total {
        font-size: 17px;
      }
    }
    .descriptionSale {
      padding: 0px 0px;
      position: relative;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      &_total {
        padding: 10px 10px;
        box-sizing: border-box;
        background: white;
        .subtotal {
          color: $grisTexto;
        }
        .discount {
          color: $naranja;
        }

        .subtotal,
        .discount,
        .total {
          font-size: 14px;
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 100%;
          padding: 5px 0px;
          span {
            width: 100%;
            flex: 1;
          }
          strong {
            color: black;
          }
        }
        .total {
          font-size: 17px;
        }
        .action {
          .btn {
            background: $naranja;
            display: block;
            padding: 7px 5px;
            box-sizing: border-box;
            text-align: center;
            text-decoration: none;
            color: white;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
          }
          .link {
            color: $verdeSitio;
            font-weight: bold;
            padding: 10px 0px;
            text-align: center;
            display: block;
            text-decoration: none;
          }
        }
      }
      &_related {
        margin: 10px 0px;
        padding: 0px 0px;
        position: relative;
        box-sizing: border-box;
        flex: 1;
        display: flex;
        .incartRelated {
          display: flex;
          flex-direction: column;
          .related {
            .title {
              grid-column: auto / span 4;
              text-align: center;
              height: 35px;
              h3 {
                margin: 10px 0px 0px;
              }
              @include tablet {
                text-align: left;
                grid-column: 3 / span 12;
              }
            }
            .item {
              height: 120px;
            }
          }
        }
        .incart {
          padding: 0px 10px 10px;
          box-sizing: border-box;
          flex: 1;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
.itemCart {
  // background: red;
  padding: 5px;
  margin: 0px 0px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  box-sizing: border-box;
  @include tablet {
    width: 50%;
    float: left;
  }
  @include desktop {
    width: 100%;
    float: left;
  }

  &_container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    row-gap: 10px;
    @include desktop {
      grid-template-columns: 150px 1fr 1fr 1fr 1fr;
      grid-template-rows: auto;
    }
  }
  &_image {
    grid-column: auto / span 1;
    grid-row: auto / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    @include desktop {
      grid-column: auto / span 1;
      grid-row: auto;
    }
    img {
      max-width: 100px;
      width: 100%;
    }
  }
  &_description {
    grid-column: auto / span 1;
    grid-row: auto / span 1;
    @include desktop {
      grid-column: auto / span 2;
      grid-row: auto;
    }
    &_actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      a {
        margin-left: 10px;
        color: $verdeSitio;
      }
    }
  }
  &_handler {
    grid-column: auto / span 1;
    grid-row: auto / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    @include desktop {
      grid-column: auto / span 2;
      grid-row: auto;
    }
  }
  .unit {
    flex-direction: column;
  }
  .total,
  .unit {
    grid-column: auto / span 1;
    grid-row: auto / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    @include desktop {
      grid-column: auto / span 1;
      grid-row: auto;
    }
  }
  .total{
    flex-direction: column;
    small{
      font-style: oblique;
      text-decoration: line-through;
    }
  }
  // &_total {
  //   grid-column: auto / span 1;
  //   grid-row: auto / span 1;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   @include desktop {
  //     grid-column: auto / span 1;
  //     grid-row: auto;
  //   }
  //   p {
  //     margin: 0px;
  //     padding: 0px;
  //     font-weight: bold;
  //   }
  // }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 145px;
  height: 145px;
  // background: red;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 128px;
  height: 128px;
  margin: 8px;
  border: 8px solid $verdeSitio;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $verdeSitio transparent transparent transparent;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

.doYouWantAbag{

  background: white !important;
  width: 300px;
  padding: 20px;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -ms-border-radius:10px;
  -o-border-radius:10px;
  p{
    font-weight: bold;
  }
  .btn {
    margin-top: 10px;
    background: $naranja;
    display: block;
    padding: 7px 5px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
  }
}


.modalwrapper {
  position: fixed;
  top: -100vh;
  left: 0px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  z-index: 11;
  justify-content: center;
  align-items: center;
  &.loaderCart {
    top: 0vh;
  }
  .background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
  .content {
    position: relative;
    // background: white;
    width: 250px;
    height: 200px;

    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    .loader {
      position: relative;
    }
    .message {
      position: relative;
      background: white;
      text-align: center;
      padding: 10px 5px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }
  }
}
