.sections {
  padding: 25px 0px !important;
  .section {
    padding: 0px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    // height: 420px;
    // max-height: 420px;
    align-items: stretch;

    


    &_content {
      border-radius: 10px;
      flex: 1;
      background: white;
      display: flex;
      flex-direction: column;
      padding: 5px;
      box-sizing: border-box;


      &.genericSection{
        display: flex;
        justify-content: stretch;
        align-items: stretch;
        a,
        .section-offer{
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          img{            
            max-width: 80%; 
          }
        }
      }


      &.noLogged {
        justify-content: center;
      }
    }
    /*
    Diversas secciones que puede tener un componente section
    **/
    .avatar_information {
      //informacion del usuario logeado
      padding: 5px;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      //   justify-content: center;
      position: relative;
      &.noLogged {
        @include tablet {
          padding: 0px 20px;
        }
      }
      img {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
      span {
        font-weight: bold;
        font-size: 1.2rem;
        padding-left: 10px;
        box-sizing: border-box;
      }
    }
    .cart_information {
      //informacion del carrito de un usuario logeado
      //   display: flex;
      //   flex-direction: column;
      padding: 20px 0px;
      flex: 1;
      //   padding: 15px 5px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      span {
        position: relative;
        width: 70%;
        text-align: center;
        margin-bottom: 20px;
      }
    }
    .information {
      //General information
      //   flex: 1;
      padding: 5px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      //   justify-content: center;
      position: relative;
      h3 {
        text-align: center;
        font-size: 1rem;
        margin-bottom: 0px;
      }
      p {
        padding: 0px;
        width: 100%;
        text-align: center;
      }
    }
    .categories {
      flex: 1;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // flex-wrap: wrap;
      a {
        // flex: 1;
        // width: 50%;
        // text-align: center;
        // background: red;
        text-decoration: none;
        .category {
          text-align: center;
          padding: 15px;
          // background: $grisBajoBG;
          color: $verdeSitio;
          margin-bottom: 5px;
        }
      }
    }
    .img {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 0px;
      flex: 1;
      img {
        max-width: 100%;
      }
    }
    .img-link {
      flex: 1;
      position: relative;
      .image {
        flex: 1;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center;
      }
    }
    .action_link {
      text-align: center;
      padding: 10px 0px;
      a {
        color: $verdeSitio;
      }
    }
  }
}
